<div class="col-md-12">
	<br/>
	<div class="btn-group">
	  <button type="button" class="btn btn-default" ng-click="setDays(0)">All</button>
	  <button type="button" class="btn btn-default" ng-click="setDays(365)">Year</button>
	  <button type="button" class="btn btn-default" ng-click="setDays(30)">Month</button>
	  <button type="button" class="btn btn-default" ng-click="setDays(7)">Week</button>
	  <button type="button" class="btn btn-default" ng-click="setDays(1)">Day</button>
	</div>
	
	<div gms-piechart gms-title="Posts in Merrifielderos by User" gms-data="piechartData" style="width:800px;height:600px;"></div>
</div>