<div class="col-md-8" ng-show="groupListLoading"><p>Refreshing your list of groups...</p></div>
<div class="col-md-8" ng-show="!groupListLoading">
  <p>
      <a ng-click="refreshGroupList()">Refresh group list</a>
  </p>
	<table class="table">
		<tr ng-repeat="group in groupList">
			<td><img src="{{group.image}}.avatar"/></td>
			<td><a ng-href="./#/group?groupid={{group.group_id}}">{{group.name}}</a></td>
			<td><i>Last updated {{group.updated_at}}<i></td>
			<td>
				<a ng-show="!group.loading" ng-click="scrapeGroup($index)">Update</a>
				<span ng-show="group.loading">Loading...</span>
			</td>
		</tr>
	</table>
</div>
