<div class="col-md-12">

	<img src="{{group.image}}" style="float:left; padding-right:15px"></img><h3>{{group.name}}</h3>
	<br/>
	<div class="btn-group">
	  <button type="button" class="btn btn-default" ng-click="setDays(0)">All</button>
	  <button type="button" class="btn btn-default" ng-click="setDays(365)">Year</button>
	  <button type="button" class="btn btn-default" ng-click="setDays(30)">Month</button>
	  <button type="button" class="btn btn-default" ng-click="setDays(7)">Week</button>
	  <button type="button" class="btn btn-default" ng-click="setDays(1)">Day</button>
	</div>
	
	<div class="row">
		<div class="col-md-5">
			<h4>Top posts:</h4>
			<p ng-repeat="post in topPosts.posts"><b>{{post.name}}</b> ({{post.count}}): {{post.text}}</p>
		</div>
		<div class="col-md-7">
			<h4>Top images:</h4>
			<span style="float:left; padding:5px" ng-repeat="post in topPosts.images"><b>{{post.name}}</b> ({{post.count}}): <br/><a href="{{post.image}}" target="_blank"><img style="width:200px; height:200px" src="{{post.image}}.preview"></img></a><br><p style="max-width:200px;">{{post.text}}</p></br></span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div gms-posts-piechart gms-title="Total Posts" gms-legend-title="Users" gms-user="userData" gms-data="postsMostData.posters" style="min-width:530px;min-height:400px;"></div> 
		</div>
		<div class="col-md-6">
			<div gms-posts-piechart gms-title="Total likes Received" gms-legend-title="Users" gms-user="userData" gms-data="postsMostData.likesGotten" style="min-width:530px;min-height:400px;"></div> 
		</div>
	</div>
	

    <div gms-daily-posts-linegraph gms-title="Daily Frequency of Posts by Hour (All Time)" gms-xaxis-title="Hour" gms-yaxis-title="Posts" gms-data="dailyFreqData" gms-category='category' style="min-width:530px;min-height:400px;"></div> 
	<div gms-bargraph gms-title="Weekly Frequency of Posts by Day (All Time)" gms-xaxis-title="Day" gms-yaxis-title="Posts" gms-data="weeklyFreqData" style="min-width:530px;min-height:400px;"></div>
	<div gms-heatmap gms-title="Heatmap of Posts for Day of the Week/Hour of the Day" gms-xaxis-title="Hour" gms-yaxis-title="Posts" gms-data="heatdata" style="min-width:530px;min-height:400px;"></div>
	<div gms-post-volume-chart gms-title="" gms-xaxis-title="Date" gms-yaxis-title="Number of Posts" gms-data="volumeData" gms-category='datetime' style="min-width:530px;min-height:400px;"></div> 
	<div gms-user-growth-linegraph gms-title="User Growth over Time" gms-xaxis-title="Date" gms-yaxis-title="Number of Users" gms-data="joinDateData.data" gms-category-data="joinDateData.categories" gms-category='datetime' style="min-width:530px;min-height:400px;"></div> 

	<h4 style="text-align:center">Ngram Viewer</h4>
	<input type="text" ng-model="ngramterms"></input> <button type="button" class="btn btn-default btn-sm" ng-click="refreshNgram()">Submit</button>
	<span ng-show="ngramloading">
		&nbsp;<img src="./img/loading.gif"></img>
	</span>
	<i>&nbsp;Enter one or more terms seperated by commas (ex: christmas,thanksgiving,magfest)</i>
	<div gms-ngram gms-xaxis-title="Date, by week" gms-yaxis-title="Posts" gms-data="ngramdata" style="min-width:530px;min-height:400px;"></div>

	<h4>Users:</h4>
	<ul>
		<li ng-repeat="user in group.users"><a ng-href="#/user?userid={{user.user_id}}&groupid={{group.group_id}}">{{user.name}}</a></li>
	</ul>	
</div>
